footer.l-footer
  .footer-content
    nav.footer-content__nav
      ul.footer-content__lists
        li.footer-content__item: a(href="#") top
        li.footer-content__item: a(href="#") top
        li.footer-content__item: a(href="#") top
  .footer-copyright
    .footer-copyright__inner
      small
