
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
- // meta(name="robots", content="noindex,nofollow")
meta(name="format-detection", content="telephone=no, address=no, email=no")
link(href= paths.img + "favicon/favicon.ico", rel="icon", type="image/x-icon")
link(href= paths.img + "favicon/icon.png", rel="apple-touch-icon", sizes="180x180" )
link(href= paths.css + "reset.min.css", rel="stylesheet")
link(href= paths.css + "index.min.css", rel="stylesheet")
- // link(href="https://use.fontawesome.com/releases/v5.1.1/css/all.css", integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ", crossorigin="anonymous", rel="stylesheet")
- // link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all")

title #{definition.title}
