doctype html

include base/_config

html(lang="ja")
  head
    include module/common/_head

  body

    .l-wrapper
      include module/common/_header

      .l-contents
        include module/page/_top

      include module/common/_footer
